<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Inxton.Licencing" publicKeyToken="3bf43df27f52305d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.9.0" newVersion="1.3.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>